.language-selector-select {
  background-color: inherit;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 0 10px;
  appearance: none;
  font-weight: 600 !important;
  color: var(--header-text-color-cv) !important;
  border: none !important;
  
}

.language-selector-select:focus {
  outline: none;
}

.language-selector-select option {
  padding: 0px 5px;
  border: none;
  background-color: var(--app-background-color-cv);
  
}
