.short-introduction,
.description,
.hobby,
.background {
  color: var(--p-color-cv) !important;
}

.description-strong{
  color: var(--h5-color-cv) !important;
  font-weight: 500;
}
.job-position {
  color: var(--explore-my-project-color-cv) !important;
}

.who-am-i {
  color: var(--h1-color-cv) !important;
  padding-bottom: 5px;
}

.short-intro-container h6 {
  color: var(--h6-color-cv) !important;
  font-weight: bold;
}

.job-position {
  max-width: 20rem;
}

.short-introduction {
  max-width: 20rem;
  font-size: 16px;
}

.skills {
  padding-top: 30px;
  color: var(--h1-color-cv) !important;
  padding-bottom: 5px;
}

.skills-container {
  padding-top: 1px;
  padding-bottom: 20px;
}

.explore-projects {
  display: flex;
  text-decoration: none;
}

.explore-experience {
  display: flex;
  padding-top: 30px;
  text-decoration: none;
}

.explore-resume {
  display: flex;
  text-decoration: none;
}

.explore-contact { 
  display: flex;
  padding-top: 30px;
  text-decoration: none;
}

.explore-projects .explore-my-projects-button,
.explore-experience .explore-my-experience-button,
.explore-resume .explore-my-resume-button,
.explore-contact .explore-contact-button {
  text-decoration: none;
  font-weight: 500;
  padding-right: 0px;
  color: var(--h1-color-cv);
  border-bottom: 1px solid var(--app-background-color-cv);
}

.explore-projects .explore-my-projects-button:hover,
.explore-experience .explore-my-experience-button:hover,
.explore-resume .explore-my-resume-button:hover,
.explore-contact .explore-contact-button:hover {
  color: var(--explore-my-project-color-cv) !important;
  border-bottom: 1px solid;
}

.explore-projects-arrow,
.explore-experience-arrow,
.explore-resume-arrow,
.explore-contact-arrow {
  color: var(--explore-my-project-color-cv);
}

.explore-projects-container, .explore-resume-container {
  padding-top: 7px;
}

.education-container {
  padding-top: 50px;
}
.education {
  color: var(--h1-color-cv) !important;
  padding-bottom: 5px;
}

.education-text {
  color: var(--p-color-cv) !important;
  font-size: 16px !important;
}

.education-time-place {
  font-size: 12px;
}

.education-school {
  font-weight: 500;
  color: var(--h5-color-cv) !important;
}
.container {
  display: flex;
  padding-top: 30px;
}

.short-intro-container {
  flex: 1;
  padding: 20px;
}

.long-intro-container {
  flex: 1;
  padding: 30px 20px 20px 20px;
}

.name {
  font-weight: bold;
  color: var(--h1-color-cv) !important;
  font-size: 50px;
  margin-left: -2px !important;
}

.description {
  font-size: 16px;
  line-height: 1.6; /* Adjust line-height as needed */
  text-align: justify;
}

.hobby,
.background {
  font-size: 16px;
  margin-top: 20px; /* Adjust margin as needed */
  text-align: justify;
}

@media screen and (max-width: 991.98px) {
  .container {
    flex-direction: column; /* Reverse the order for mobile screens */
  }
}
