.experience-component-text tr td:nth-child(1) {
  color: var(--p-color-cv);
  
}

.experience-component-text tr td:nth-child(3) {
  color: var(--h3-color-cv);
  font-weight: bold;
}

.experience-component-text tr td:nth-child(4) {
  color: var(--h1-color-cv);
}

.experience-component-text tr td {
  padding: 20px 30px 20px 0px;
}

.experience-component-text tr {
  border-bottom: 1px solid rgb(220, 220, 220, 0.1);
  height: 140px;

}

.company-name {
  color: var(--h1-color-cv) !important;
  text-decoration: none !important;
}

.company-logo{
  width: 100px;
}