.navbar .header-element {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  color: var(--header-text-color-cv) !important;
  text-align: center;
  width: 135px;
}

a.about,
a.experience,
a.projects,
a.contact,
a.resume{
  padding-right: 15px;
}

.navbar {
  background-color: var(--app-background-color-cv);
}

.navbar-brand{
  margin-right: 0 !important;
}
.navbar-nav a.resume{
  width: 100px;
  cursor: pointer;
  margin-left: 125px !important; /* 125px to compensate the language switcher on the left*/
}

.form-title {
  color: var(--h1-color-cv) !important;
  text-align: center;
  padding-bottom: 25px;
}
.logo-image {
  width: 48px !important;
  border-radius: 32%;
}

.nav-list li {
  width: 100%;
}

.navbar .header-element:hover,
.navbar .header-element:focus {
  border-bottom: 2px solid white;
  transition: border-bottom 0.4s ease-in-out;
  color: white !important;
}

@media (max-width: 1200px) {
  .navbar-expanded .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-expanded .navbar-nav li:nth-child(1){
    order: 2;
  }
  .navbar-expanded .navbar-nav li:nth-child(2){
    order: 3;
  }
  .navbar-expanded .navbar-nav li:nth-child(3){
    order: 4;
  }
  .navbar-expanded .navbar-nav li:nth-child(4){
    order: 5;
  }
  .navbar-expanded .navbar-nav li:nth-child(5){
    order: 1;
    padding-bottom: 10px;
  }

  .navbar-nav a.resume{
    width: auto;
    margin-left: 0 !important;
  }


  .navbar-expanded .d-flex.align-items-center {
    flex-direction: column;
  }
  .navbar-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .navbar-expanded .navbar-collapse {
    max-height: 100vh;
    animation: slide-down 0.5s;
  }

  @keyframes slide-down {
    from {
      max-height: 0;
    }
    to {
      max-height: 100vh;
    }
  }
}
