body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 18px;
}

.signature {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.message-history{
    padding-top: 30px;
}